DATABASE_URL=postgresql://neondb_owner:npg_Leic9nkPdJj2@ep-calm-union-at11yrqu-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
SECRET_KEY=your-secret-key

ALGORITHM=HS256

ACCESS_TOKEN_EXPIRE_MINUTES=30