@import "./variables.css";
@import "./components.css";
@import "./layout.css";
@import "./auth.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --primary:#2563EB;
    --primary-dark:#1E40AF;

    --navbar:#0F172A;

    --background:#F8FAFC;

    --card:#FFFFFF;

    --text:#1E293B;

    --border:#E2E8F0;

    --success:#22C55E;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Poppins",sans-serif;

    background:var(--background);

    color:var(--text);

    min-height:100vh;
}

a{
    text-decoration:none;
}

button{

    border:none;

    outline:none;
}