<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Create Account</h2>

<form action="/register" method="POST">

    <label>Name</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email</label><br>
    <input type="email" name="email" required><br><br>

    <label>Password</label><br>
    <input type="password" name="password" required><br><br>

    <label>Role</label><br>
    <select name="role" required>
        <option value="Researcher">Researcher</option>
        <option value="Institution Admin">Institution Admin</option>
        <option value="Reviewer">Reviewer</option>
        <option value="System Admin">System Admin</option>
    </select><br><br>

    <button type="submit">Register</button>

</form>

<br>

<a href="/">Already have an account? Login</a>

</body>
</html>